$color-whiteBack: #e4e4e4;
$color-white: #fff;
$color-red: rgb(219, 69, 83);
$color-black: #000;
$color-darkGray: rgb(54, 54, 54);
$color-lightGray: rgb(221, 221, 221);

$font-normal: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-header: "Courier New", Courier, monospace;

$border: 1px solid #cacaca;
$table-border: 1px solid $color-black;
